html body {
  height: 100%;
}

img {
  max-height: 500px;
  max-width: 500px;
  margin: 5px;
}

.blog-name {
    font-size: 100px;
    
    
}

.logo {
    max-height: 100px;
    max-width: 100px;
    margin-top: 20px;   
    
}

.sidebar {
    padding-top: 50px;
    position: sticky;
    top: 4rem;
    z-index: 1000;
}