html body {
  height: 100%;
}

img {
  max-height: 500px;
  max-width: 500px;
  margin: 25px;
}

.blog-name {
  font-size: 80px;
  color: rgb(85, 71, 110);
  margin-top: 15px;
  
}

.logo {
  max-height: 100px;
  max-width: 100px;
  
}

.sidenav {
  padding-top: 50px;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 23px 0px;
  right: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  max-height: 400px;
  width: 150px;
}

a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px #a0a0a0;
  cursor: pointer;
}
.main-content {
  margin-right: 150px;
  margin-top: 70px;
  max-width: 1000px;
}

.date {
  color: #7a6c65;
  margin: 25px;
}

.post-head {
  color: #daa520;
  margin: 25px;
}

p {
  color: #7a6c65;
  margin: 25px;
}

.post {
  border: solid #fff275 2px;
}

.contact {
  color: #007bff;
}

.contact-me {
  border: solid #fff275 1px;
}
